body {
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0,5px;
}

.wr {
	display: flex;
	justify-content: center;
}

.wrapper {
	width: 1024px;
	@include flex;
	background: white;

	@include adaptive(tablet) {
		width: 100%;
	}

	@include adaptive(smart) {
		width: 100%;
	}

}